<div class="btn-group" role="group">
    <button type="button" class="btn" ng-class="{'btn-success': status, 'btn-danger': status === false, 'btn-default': status === null}">
        {{label}}
    </button>
    <button class="btn btn-default" ng-click="showBoost = true">Boost (<sr-boost-time-display time="boostStatus[type]"></sr-boost-time-display>)</button>
    <button class="btn btn-default">
        <span ng-click="showBoost = true" ng-show="!showBoost">{{boostTime[type]}}</span>
        <select ng-model="boostTime[type]" ng-change="showBoost = false" ng-options="i for i in maxBoostMinutes" ng-show="showBoost"></select>
    </button>
    <button class="btn btn-default" ng-click="boostFunction()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
