$white: #FFF;
$orange: #FF8000;
$grey: #C3C3C3;
$green: #48A15A;

.heating-on-off {
  circle {
    stroke: $grey;
    stroke-width: 3;
    fill: $white;
  }
  .off {
    fill: $orange;
  }
  .on {
    fill: $green;
  }
  text {
    fill: $white;
  }
}