<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="btn-group btn-group-justified" role="group">
            <a type="button" class="btn btn-default"
               ng-class="{'btn-success': connected && status, 'btn-danger': connected && status === false, 'btn-default': connected && status === null, 'text-danger': !connected}" role="button">
                <span ng-if="!connected" class="glyphicon glyphicon-flash text-danger" aria-hidden="true"></span>
                <span ng-class="{'text-danger': !connected}">{{label}}</span>
            </a>
            <a class="btn btn-default" ng-click="showBoost = true" role="button">
                Boost (<sr-boost-time-display time="boostStatus[type]"></sr-boost-time-display>)
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" role="button">
                <span ng-click="showBoost = true" ng-show="!showBoost">{{boostTime[type]}}</span>
                <select ng-model="boostTime[type]" ng-change="showBoost = false" ng-options="i for i in maxBoostMinutes" ng-show="showBoost"></select>
            </a>
            <a class="btn btn-default" ng-click="cancelBoost()" ng-if="boostTime[type] > 0 || boostStatus[type] > boostStatus.time" role="button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default" ng-click="boostFunction()" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
