
<!DOCTYPE html>
<html lang="en" ng-app="sarahApp">
<head>
	<title>Sarah</title>
	<meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Stylesheets -->
    <link href="/css/app.css" media="screen" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
			</ul>
			<h3 class="text-muted">Sarah</h3>
		</div>
		<div class="content">
			<!-- START OF CONTENT -->
			<div ng-controller="sensorReadingController as sensorReadingController">
				<div class="heading">
					<div class="menu">
						<ul class="nav nav-tabs">
							<li ng-repeat="node in nodes" ng-class="{active: sensorReadingController.isActive(node.id)}">
								<a ng-click="sensorReadingController.setActive(node.id)">{{node.name}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div ng-repeat="node in nodes" class="tab-pane" ng-class="{active: sensorReadingController.isActive(node.id)}" >
						<div class="sensorReadings">
							<div ng-repeat="row in node.sensors | partition:4">
								<div class="clearfix visible-xs"></div>
								<div class="sensorReading" ng-repeat="sensor in row">
									<div>
										<div class="title">
											{{sensor.description}}
										</div>
										<div ng-switch="sensor.latest">
											<div class="value" ng-switch-default>
												{{sensor.latest.value | number:2}}{{sensor.units}}
											</div>
											<div class="value" ng-switch-when="undefined">--</div>
										</div>
										<div class="time">
											<small fuzzy-time timestamp="sensor.latest.date"></small>
										</div>
										<div class="progress progress-striped" ng-show="sensor.latest && sensor.isRanged">
											<div class="progress-bar progress-bar-info"
												 ng-style="{'width': sensorReadingController.percentageValue(sensor) + '%'}"
												 ng-show="sensor.latest">
											 </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<rickshaw-graph class="sensorGraph" rickshaw-sensors="node.sensors"></rickshaw-graph>
					</div>
				</div>
			</div>
			<!-- END OF CONTENT -->
      	</div>
		<div class="footer">
			<p>&copy; Cooke IT 2014</p>
		</div>
	</div>
</body>
</html>
